/* lg */
@media(min-width:1200px){

}

/* md */
@media(max-width:992px){
	.logo-holder img {
		max-width: 200px;
		margin-top: 15px;
	}
	.navbar-brand {
		font-size: 29px;
		margin-top: 4px;
	}
}

/* sm */
@media(min-width:768px){

}

/* xs */
@media(max-width:767px){
	
}





